<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Pavlo Tkach - Portfolio</title>
</head>
<body>
    <!-- NavBar partial -->
    <%- include('partials/navbar') %>
    <main class="port-main">
        <h1>Portfolio</h1>
        <div class="part-port">
            <h2>Title</h2>
            <h3>Description: </h3>
            <p>type...</p>
            <h4>Role: Main</h4>
            <img src="" alt="screenshot">
            <a href="">GitHub Repo</a>
        </div>
        <div class="part-port">
            <h2>Portfoli Project IX</h2>
            <h3>Description: </h3>
            <p>For this project I have used Node.js, EJS express, nodemon, pm2, dotenv, SQL, HTML, CSS, and JS. Hosted this website on Digital Ocean and used built in Database.</p>
            <h4>Role: Main</h4>
            <img src="img/res-contact-form.png" alt="Portfoli Project IX">
            <a href="https://github.com/BROSKIs/res-contact-form">GitHub Repo</a>
        </div>

    </main>
</body>
</html>