body {
    margin: 0;
    padding: 0;
    background-color: #F3F3F3;
}

/* FORM styles */
#boxs, form{
    background-color: white;
    width: 70%;
    margin: 1rem auto;
    padding: 1rem;
}
form >h1{
    text-align: center;
}
fieldset input, select, textarea {
    display: block;
    width: 100%;
    padding: .2rem;
}
fieldset{
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    border: none;
}
fieldset label{
    display: block;
    width: 100%;
    margin: 3px;
}

label{
    display: block;
    margin: 3px;
}

button{
    display: block;
    background-color: #10B981;
    padding: .5rem;
    margin-top: 1rem;
    border: none;
    border-radius: .6rem;
}
/* GRID */
.Zcols{
    grid-column: span 2;
}
.z3cols{
    grid-column: span 3;
}
.z6cols{
    grid-column: span 6;
}
#otherL, #emailTypeBox{
    display: none;
}
/* Style for radio buttons */
.inline {
    display: inline-block;
}
/* error message */
.err{
    display: none;
    color:darkred;
}

a{
    text-decoration: none;
}

/* Nav bar styles */
.main-nav {
  width: 70%;
  height: 60px;
  margin: 0 auto;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}


.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: black;
}

/* Portfolio Styles */
.port-main {
    display: block;
    max-width: 800px;
    margin: auto;
    padding: 2rem;
}

.part-port {
    display: block;
    width: 100%;
    padding: 2rem;
    border: 2px solid black;
    margin-top: 1rem;
}

.part-port img {
    display: block;
    max-width: 50%;
}


@media screen and (max-width: 600px) {
    body{
        font-size: 18px;
    }
    fieldset {
        display: block;
    }
    /* Nav bar styles */
    .main-nav {
        width: 90%;
        padding: 10px 20px;
        border-radius: 15px;
   }

   .nav-links {
        gap: 10px;
        font-size: 0.9rem;
   }
}